*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body{
    background-color: rgb(222, 222, 222);
  


}

header {
    position: fixed;
    min-height: 80px;
    width: 100%;
    color:#fff;
    background-color: #000;
    z-index: 5;
    display: flex;
    gap: 2rem;
    justify-content:space-between;
    border-bottom: #fff solid 2px;
    
}

nav {
    
    font-family: obviously-wide, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 22px;
}

.main-menu-desktop ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
    padding: 0.8rem;

}

.main-menu-desktop ul li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease-in-out;
}

.main-menu-desktop ul li a:hover{
    border-bottom: 2px solid;
}

.main-menu-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .main-menu-desktop {
        display:block;
    }    
}

.close-mobile-menu {
    cursor: pointer;
}

.burger-icon {
    padding: 0.8rem;
    cursor: pointer;
    z-index: 2000;
    width: 1.6rem;
    height: 1.6rem;
    margin:0.4rem;

}

.burger{
    background-image: url('../assets/burger.svg');
    background-repeat: no-repeat;
}

.closemobilemenu {
    background-image: url('../assets/closemenu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.8rem 0.05rem 0 0;
    
}

@media screen and (min-width: 768px){
    .burger-icon {
        display: none;
    }
}

.logo {
    padding: 0.8rem;
}

.mobile-nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 2rem;
    animation-name: slideIn;
    animation-duration: 0.5s;
    z-index: 10;
}

.mobile-nav-hide {
    display: none;
}

.mobile-nav ul{
    list-style: none;
    font-size: 3rem;
}

@keyframes slideIn {
    from {
        transform: translate(0vw, -50vh); /*0 = X-axis    -50 = Y-axis*/
    }
    /*80%{
        transform: translate(-30vh); /*viser hva som skjer frem til 80 prosent
    }*/

    to {
        transform: translate(0px); 
    }
}

.mobile-nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

.gridContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(6, 6, 6);
    padding: 20px;
    border: 9px solid rgb(26, 26, 26);
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-auto-flow:column;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;

    gap: 1em;
}
.introductionHeader ul {
    position: absolute;
    bottom: 20%;
    display: inline-block;
    color: #ffffff;
    font-size:8vw; 
    line-height: 85%;
    list-style: none;
    grid-column: span 4;
    
    
    font-family: obviously-wide, sans-serif;
    font-weight: 900;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .introductionHeader ul {
      display: none;
    }
  }


 .introductionHeader .outlined {
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-fill-color: rgba(255, 255, 255, 0); /*transparent*/
    
}




footer {
    position: fixed;
    bottom: 0;
    min-height: 80px;
    width: 100%;
    color:#fff;
    background-color: #000;
    z-index: 5;
    border-top: #fff solid 2px;
}

.back-to-top {
    position: relative;
    bottom: 0;
    padding: 0.8rem;
}

.social-media ul{
    display: flex;
    justify-content:right;
    gap: 2rem;
}


.social-media .facebook {
    list-style-image: url('../assets/facebook.svg');
    justify-content: center;

}
.social-media .instagram {
    list-style-image: url('../assets/instagram.svg');
    justify-content: center;

}
.social-media .linkedin {
    list-style-image: url('../assets/linkedin.svg');
    justify-content: center;
}
.social-media .gmail {
    list-style-image: url('../assets/gmail.svg');
    justify-content: center;
}






/*Position*/
/* position relative legges på parent element for å gjøre at child relaterer seg til parent*/
/* position absolutt gir tilgang på verdier som top, bottom, left, right,*/
/* position fixed plasserer seg på lik måte som relative, bare at når man scroller så limes elementet på skjerm*/
/* position sticky kan brukes til å bestemme hvor elementet skal feste seg når det scrolles. Gir også tilgang på top, bottom, left, right*/

/* Brukes "Inline" funker ikke width properties... det samme gjelder IKKE for inline block*/

/*@media skal alltid være under klassen som brukes inni*/

/*justify content fungerer ikke om ikke du har flex*/

